<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 상세보기</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        const ssUserId = /*[[${session.SS_USER_ID}]]*/ ''; // Controller에서 받은 세션에 저장된 값
        const userId = /*[[${rDTO.userId}]]*/ ''; // 공지사항 게시글 작성자 아이디
        const bSeq = /*[[${rDTO.boardSeq}]]*/ ''; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함

        $(document).ready(function () {
            $("#btnCmt").on("click", function () {
                doComment(); // 댓글 작성 실행
            });

            $(".btnCmtDelete").on("click", function () {
                var commentSeq = $(this).closest('.comment-option').find(".commentSeq").val();
                var commentUserId = $(this).closest('.comment-option').find(".commentUserId").val();
                console.log(commentSeq, commentUserId);

                if (ssUserId === commentUserId) {
                    if (confirm("작성한 댓글을 삭제하시겠습니까?")) {
                        $.ajax({
                            url: "/comment/commentDelete",
                            type: "post",
                            dataType: "JSON",
                            data: {"commentSeq": commentSeq},
                            success: function (json) {
                                alert(json.msg);
                                location.reload();
                            }
                        });
                    }
                } else if (ssUserId === "") {
                    alert("로그인 하시길 바랍니다.");
                } else {
                    alert("본인이 작성한 댓글만 삭제 가능합니다.");
                }
            });

            $("#btnEdit").on("click", function () {
                doEdit(); // 커뮤니티 수정하기 실행
            });
            $("#btnDelete").on("click", function () {
                doDelete(); // 커뮤니티 삭제하기 실행
            });
            $("#btnList").on("click", function () {
                location.href = "/board/boardList"; // 커뮤니티 리스트 이동
            });
            $("#btnLike").on("click", function () {
                doLike(); // 좋아요
            });
        });

        function calBytes(str) {
            let tcount = 0;
            let tmpStr = String(str);
            let strCnt = tmpStr.length;
            let onechar;
            for (let i = 0; i < strCnt; i++) {
                onechar = tmpStr.charAt(i);
                if (escape(onechar).length > 4) {
                    tcount += 2;
                } else {
                    tcount += 1;
                }
            }
            return tcount;
        }

        function doLike() {
            if (ssUserId === "") {
                alert("로그인 하시길 바랍니다.");
            } else {
                $.ajax({
                    url: "/like/boardLike",
                    type: "post",
                    dataType: "JSON",
                    data: {"bSeq": bSeq},
                    success: function (json) {
                        if (json.result === 1) {
                            alert(json.msg);
                            location.reload()
                        } else {
                            alert(json.msg);
                        }
                    }
                })
            }
        }

        function doEdit() {
            if (ssUserId === userId) {
                location.href = "/board/boardEditInfo?bSeq=" + bSeq;
            } else if (ssUserId === "") {
                alert("로그인 하시길 바랍니다.");
            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");
            }
        }

        function doDelete() {
            if (ssUserId === userId) {
                if (confirm("작성한 글을 삭제하시겠습니까?")) {
                    $.ajax({
                        url: "/board/boardDelete",
                        type: "post",
                        dataType: "JSON",
                        data: {"bSeq": bSeq},
                        success: function (json) {
                            alert(json.msg);
                            location.href = "/board/boardList";
                        }
                    })
                }
            } else if (ssUserId === "") {
                alert("로그인 하시길 바랍니다.");
            } else {
                alert("본인이 작성한 글만 삭제 가능합니다.");
            }
        }

        function doComment() {
            let f = document.getElementById("f");
            if (f.commentContents.value === "") {
                alert("내용을 입력하시기 바랍니다.");
                f.commentContents.focus();
                return;
            }
            if (calBytes(f.commentContents.value) > 4000) {
                alert("최대 4000Bytes까지 입력 가능합니다.");
                f.commentContents.focus();
                return;
            }

            if (ssUserId === null) {
                alert("로그인 후에 댓글을 등록할 수 있습니다.");
                return;
            }

            $.ajax({
                url: "/comment/commentInsert",
                type: "post",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {
                    alert(json.msg);
                    location.href = "/board/boardInfo?bSeq=" + bSeq;
                    doOutput();
                }
            })
        }

        function doOutput() {
            $.ajax({
                url: "/comment/commentList",
                type: "get",
                dataType: "JSON",
                data: $("#f").serialize(),
                success: function (json) {
                    alert(json.msg);
                    location.href = "/board/boardInfo?bSeq=" + bSeq;
                }
            })
        }

        /*]]>*/
    </script>
    <style>
        .site-btn {
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            letter-spacing: 2px;
            background: #0b0b0b;
            border: none;
            padding: 14px 42px 13px;
            display: inline-block;
            border-radius: 2px;
        }

        .dropdown {
            margin-top: 5%;
            position: absolute;
            margin-left: 98%;
            top: 0;
            right: 0;
        }

        .dropbtn {
            border: 0px;
            background-color: #FFFFFF;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #0b0b0b;
            min-width: 70px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            z-index: 1;
            border-radius: 4px;
        }

        .dropdown-content button {
            color: #f9f9f9;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background-color: #0b0b0b;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .dropdown-content button:hover {
            background-color: #707079;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #707079;
        }
    </style>
</head>
<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{top}"></th:block>
<!-- End Header -->

<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" style="background: #0b0b0b;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bd-hero-text">
                    <h2>[[${rDTO.boardTitle}]]</h2>
                    <ul>
                        <li class="b-time"><i class="icon_clock_alt"></i>[[${rDTO.boardRegDt}]]</li>
                        <li><i class="icon_profile"></i> [[${rDTO.userNickname}]]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="blog-details-text">
                    <div class="bd-title">
                        <div class="imageArea" style="width: 100%; padding-bottom: 10px;">
                            <div th:if="${fList != null and not #lists.isEmpty(fList)}">
                                <div th:each="fDto : ${fList}">
                                    <img th:src="${fDto.fileUrl}" style="width: 50%; height: 50%;"><br><br>
                                </div>
                            </div>
                        </div>
                        <p>[[${rDTO.boardContent}]]</p>
                    </div>
                    <div class="tag-share">
                        <div class="tags">
                            <a href="#">Travel Trip</a>
                            <a href="#">Camping</a>
                            <a href="#">Event</a>
                        </div>
                        <div class="social-share">
                            <span>Share:</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-tripadvisor"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button id="btnLike" type="button" class="site-btn" style="margin-bottom: 3%;">좋아요 | [[${likeCnt}]]</button>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button id="btnEdit" type="button" class="site-btn">수정하기</button>
                        <button id="btnDelete" type="button" class="site-btn">삭제하기</button>
                        <button id="btnList" type="button" class="site-btn">목록</button>
                    </div>
                    <div class="comment-option" th:each="dto : ${rList}">
                        <input type="hidden" class="commentSeq" th:value="${dto.commentSeq}">
                        <input type="hidden" class="commentUserId" th:value="${dto.userId}">
                        <div class="single-comment-item first-comment">
                            <div class="dropdown">
                                <button class="dropbtn">⋮</button>
                                <div class="dropdown-content">
                                    <button class="btnCmtEdit" type="button">수정</button>
                                    <button class="btnCmtDelete" type="button">삭제</button>
                                </div>
                            </div>
                            <div class="sc-text">
                                <span>[[${dto.commentRegDt}]]</span>
                                <h5>[[${dto.userNickname}]]</h5>
                                <p>[[${dto.commentContents}]]</p>
                            </div>
                        </div>
                    </div>
                    <div class="leave-comment">
                        <label for="commentContents">댓글</label>
                        <form id="f" name="f" class="comment-form">
                            <div class="col-lg-12 text-center">
                                <input type="hidden" name="boardSeq" th:value="${rDTO.boardSeq}">
                                <textarea id="commentContents" name="commentContents" rows="4" placeholder="댓글을 입력하세요"></textarea>
                                <button class="btn" id="btnCmt" type="button" style="margin-top: 10px">작성</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<br/>
</main>
</body>
<th:block th:replace="~{footer}"></th:block>
</html>
