<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>챌린지 생성하기</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <link rel="stylesheet" href="/css/nice-select.css"/>
    <!-- jQuery 포함 -->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery-nice-select.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        const ssUserId = /*[[${session.SS_USER_ID}]]*/ ''; // Controller에서 받은 세션에 저장된 값

        // 세션 값이 null인 경우 공백 문자열로 변경
        const userId = ssUserId !== null ? ssUserId : '';

        // html 로딩이 완료되고 , 실행됨
        $(document).ready(function () {

            if (userId === "" || userId == null || userId === undefined) {
                alert("로그인 후 이용 가능합니다.");
                location.href = "/index";
            }

            // Nice Select 적용
            $('select').niceSelect();

            // 챌린지 기간 선택 이벤트 핸들러
            $('#challengeDuration').on('change', function () {
                const selectedValue = $(this).val();
                if (selectedValue) {
                    const startDate = new Date();
                    startDate.setHours(0, 0, 0, 0); // 시간 부분을 0으로 설정
                    let endDate = new Date(startDate);

                    if (selectedValue === '7일') {
                        endDate.setDate(startDate.getDate() + 6); // 7일 후의 날짜
                    } else if (selectedValue === '30일') {
                        endDate.setDate(startDate.getDate() + 29); // 30일 후의 날짜
                    } else if (selectedValue === '100일') {
                        endDate.setDate(startDate.getDate() + 99); // 100일 후의 날짜
                    } else if (selectedValue === '1년') {
                        endDate.setFullYear(startDate.getFullYear() + 1);
                        endDate.setDate(endDate.getDate() - 1); // 1년 후의 날짜에서 하루 뺌
                    }

                    $('#challengeStartDate').val(formatDate(startDate));
                    $('#challengeEndDate').val(formatDate(endDate));
                }
            });

            // 버튼 클릭됐을 때 , 발생되는 이벤트 생성함(onclick 이벤트와 동일)
            $("#btnSend").on("click", function () {
                doSubmit(); // 챌린지 생성하기 실행
            });
        });

        // 날짜 포맷 함수
        function formatDate(date) {
            const d = new Date(date);
            let month = '' + (d.getMonth() + 1);
            let day = '' + d.getDate();
            const year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [year, month, day].join('-');
        }

        // 챌린지 저장하기
        function doSubmit() {
            let f = document.getElementById("f"); // form 태그

            if (f.challengeDivision.value === "") {
                alert("구분을 선택하시기 바랍니다.");
                f.challengeDivision.focus();
                return;
            }
            if (f.challengeComment.value === "") {
                alert("설명을 입력하시기 바랍니다.");
                f.challengeComment.focus();
                return;
            }
            if (f.challengeStartDate.value === "") {
                alert("시작일을 선택하시기 바랍니다.");
                f.challengeStartDate.focus();
                return;
            }
            if (f.challengeEndDate.value === "") {
                alert("종료일을 선택하시기 바랍니다.");
                f.challengeEndDate.focus();
                return;
            }

            // Ajax 호출해서 챌린지 등록하기
            $.ajax({
                url: "/challenge/challengeInsert",
                type: "post", // 전송방식은 Post
                dataType: "JSON", // 전송 결과는 Json으로 받기
                data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                success: function (json) { // /challengeInsert 호출이 성공했다면..
                    alert(json.msg); // 메시지 띄우기
                    location.href = "/challenge/challengeList"; // 챌린지 리스트 이동
                }
            });
        }

        /*]]>*/
    </script>
    <style>
        .custom-select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>

<!-- ======= Header ======= -->
<th:block th:replace="~{top}"></th:block>
<!-- End Header -->

<!-- Blog Details Section Begin -->
<section class="blog-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="blog-details-text">
                    <div class="bd-title">
                        <div class="leave-comment">
                            <h4>챌린지 생성하기</h4>
                            <form id="f" name="f" action="#" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <select id="challengeDivision" name="challengeDivision" class="custom-select">
                                            <option value="">구분 선택</option>
                                            <option value="책">책</option>
                                            <option value="영화">영화</option>
                                        </select>
                                        <select id="challengeDuration" name="challengeDuration" class="custom-select">
                                            <option value="">기간 선택</option>
                                            <option value="7일">7일</option>
                                            <option value="30일">30일</option>
                                            <option value="100일">100일</option>
                                            <option value="1년">1년</option>
                                        </select>
                                        <textarea name="challengeComment" id="challengeComment" placeholder="설명" style="height: 200px;"></textarea>
                                        <input type="hidden" id="challengeStartDate" name="challengeStartDate"/>
                                        <input type="hidden" id="challengeEndDate" name="challengeEndDate"/>
                                        <button id="btnSend" type="button" class="site-btn">등록</button>
                                        <button class="site-btn" type="reset">다시 작성</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<br/>

</body>

<!-- ======= Footer ======= -->
<th:block th:replace="~{footer}"></th:block>
<!-- End Footer -->

</html>
