<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${rDTO.userName} + ' 회원님의 비밀번호 재설정'">회원님의 비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLogin").on("click", function () {
                location.href = "/user/login";
            });

            $("#btnFindPassword").on("click", function () {
                let f = document.getElementById("f");
                if (f.userPassword.value === "") {
                    alert("새로운 비밀번호를 입력하세요.");
                    f.userPassword.focus();
                    return;
                }
                if (f.userPassword2.value === "") {
                    alert("검증을 위한 새로운 비밀번호를 입력하세요.");
                    f.userPassword2.focus();
                    return;
                }
                if (f.userPassword.value !== f.userPassword2.value) {
                    alert("입력한 비밀번호가 일치하지 않습니다.");
                    f.userPassword.focus();
                    return;
                }
                f.method = "post";
                f.action = "/user/newPasswordProc";
                f.submit();
            });
        });
    </script>
</head>
<body>
<h2 th:text="${rDTO.userName} + ' 회원님의 비밀번호 재설정'">회원님의 비밀번호 재설정</h2>
<hr/>
<br/>
<form id="f">
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">새로운 비밀번호</div>
                <div class="divTableCell">
                    <input type="password" th:name="userPassword" id="password" style="width:95%"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">검증을 위한 새로운 비밀번호</div>
                <div class="divTableCell">
                    <input type="password" th:name="userPassword2" id="password2" style="width:95%"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id="btnFindPassword" type="button">비밀번호 재설정</button>
        <button id="btnLogin" type="button">로그인</button>
    </div>
</form>
</body>
</html>