body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    flex: 1;
    padding: 20px; /* 전체 여백 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px; /* 최대 너비 */
}

#map-container {
    display: flex;
    flex: 1;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#map {
    flex: 3;
    height: 70vh; /* 지도의 높이 */
    margin-right: 20px;
}

#sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#btnHospital {
    padding: 10px 20px;
    background-color: #0b0b0b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

#sidebarContent {
    width: 100%;
}

.divTableBody .divTableRow {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.divTableBody .divTableRow:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    #map-container {
        flex-direction: column;
    }

    #map {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #sidebar {
        width: 100%;
    }

    #btnHospital {
        width: 100%;
        padding: 15px;
    }
}
