<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>redirect</title>

    <!-- 리다이렉트 페이지 -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        let msg = /*[[${msg}]]*/ '로그인 후 이용 가능합니다.'; // 기본 메시지
        let url = /*[[${url}]]*/ '/index'; // 기본 URL
        alert(msg);
        location.href = url;

        /*]]>*/
    </script>
</head>
<body>
</body>
</html>
