<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>병원 위치 정보</title>

    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=17eb0d935074d4f4616fc2a3964d562e&libraries=services"></script>
    <script charset="UTF-8" src="https://t1.daumcdn.net/mapjsapi/js/main/4.4.19/kakao.js"></script>
    <script charset="UTF-8" src="https://t1.daumcdn.net/mapjsapi/js/libs/services/1.0.2/services.js"></script>
</head>
<body>
<!-- ======= Header ======= -->
<div th:replace="~{top}"></div>
<!-- End Header -->

<!-- Blog Details Hero Section Begin -->
<section class="hero-wrap hero-wrap-2" style="background-image: url('/img/bookstore-1973672_1920.png');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/index">Home <i
                        class="ion-ios-arrow-forward"></i></a></span> <span>지도 <i
                        class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-0 bread">지도</h1>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<section id="main-content">
    <div class="container">
        <div id="map-container">
            <div id="map"></div>
            <div id="sidebar">
                <button id="btnHospital" type="button">병원</button>
                <div id="sidebarContent" class="hidden">
                    <div id="hospitalData" class="divTableBody"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= Footer ======= -->
<div th:replace="~{footer}"></div>
<!-- End Footer -->

<script type="text/javascript" src="/js/hospital.js"></script>
</body>
</html>
