<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {
            // 로그인 화면 이동
            $("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                location.href = "/user/login";
            })
            // 비밀번호  찾기
            $("#btnFindPassword").on("click", function () {
                let f = document.getElementById("f"); // form 태그
                if (f.userPassword.value === "") {
                    alert("새로운 비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                }
                if (f.userPassword2.value === "") {
                    alert("검증을 위한 새로운 비밀번호를 입력하세요.");
                    f.password2.focus();
                    return;
                }
                if (f.userPassword.value !== f.userPassword2.value) {
                    alert("입력한 비밀번호가 일치하지 않습니다.");
                    f.userPassword.focus();
                    return;
                }
                f.method = "post"; // 비밀번호 찾기 정보 전송 방식
                f.action = "/user/newPasswordProc" // 비밀번호 찾기 URL
                f.submit(); // 아이디 찾기 정보 전송하기
            })
        })
    </script>
</head>
<body>
<h2>비밀번호 재설정</h2>
<hr/>
<br/>
<form id="f">
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">새로운 비밀번호
                </div>
                <div class="divTableCell">
                    <input type="password" name="userPassword" id="userPassword" style="width:95%"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">검증을 위한 새로운 비밀번호
                </div>
                <div class="divTableCell">
                    <input type="password" name="userPassword2" id="userPassword2" style="width:95%"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id="btnFindPassword" type="button">비밀번호 재설정</button>
        <button id="btnLogin" type="button">로그인</button>
    </div>
</form>
</body>
</html>