<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원가입 화면</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // 아아디 중복 체크 여부 (중복 Y / 중복 아님 : N
        let userIdCheck = "Y";

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {
            let f = document.getElementById("f"); // form 태그

            // 아아디 중복체크
            $("#btnUserId").on("click", function () {
                userIdExists(f)
            })

            // 이메일 중복체크
            $("#btnEmail").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                emailExists(f)
            })

            // 우편번호 찾기
            $("#btnAddr").on("click", function () {
                kakaoPost(f);
            })

            // 회원가입
            $("#btnSend").on("click", function () {
                doSubmit(f);
            })
        })

        // 회원아이디 중복 체크
        function userIdExists(f) {
            if (f.userId.value === "") {
                alert("아이디를 입력하세요.")
                f.userId.focus();
                return;
            }

            // Ajax 호출해서 회원가입하기
            $.ajax({
                url : "/user/getUserIdExists",
                type : "post",
                dataType : "JSON",
                data : $("#f").serialize(),
                success : function (json) {
                    if (json.existsYn === "Y") {
                        alert("이미 가입된 아이디가 존재합니다.");
                        f.userId.focus();
                    } else {
                        alert("가입 가능한 아이디입니다.");
                        userIdCheck = "N";
                    }
                }
            })
        }

        // 이메일 중복 체크
        function emailExists(f) {
            if (f.userEmail.value === "") {
                alert("이메일을 입력하세요.");
                f.userEmail.focus();
                return;
            }

            // Ajax 호출해서 회원가입하기
            $.ajax({
                    url: "/user/getEmailExists",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..

                        if (json.existsYn === "Y") {
                            alert("이미 가입된 이메일 주소가 존재합니다.");
                            f.userEmail.focus();

                        } else {
                            alert("이메일로 인증번호가 발송되었습니다. \n받은 메일의 인증번호를 입력하기 바랍니다.");
                            emailAuthNumber = json.authNumber;

                        }

                    }
                }
            )
        }

        // 카카오 우편번호 조회 API 호출
        // function kakaoPost(f) {
        //     new daum.Postcode({
        //         oncomplete: function (data) {
        //             // kakao 에서 제공하는 data는 JSON구조로 주소 조회 결과값을 전달함
        //             // 주요 결과값
        //             // 주소 : data.address
        //             // 우편번호 : data.zonecode
        //             let address = data.address; // 주소
        //             let zonecode = data.zonecode; // 우편번호
        //             f.addr1.value = "(" + zonecode + ")" + address
        //         }
        //     }).open();
        // }

        // 회원가입 정보의 유효성 체크하기
        function doSubmit(f) {
            if (f.userId.value === "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }
            if (userIdCheck !== "N") {
                alert("아이디 중복 체크 및 중복되지 않은 아이디로 가입 바랍니다.");
                f.userId.focus();
                return;
            }
            if (f.userPassword.value === "") {
                alert("비밀번호를 입력하세요.");
                f.userPassword.focus();
                return;
            }
            if (f.userPassword2.value === "") {
                alert("비밀번호확인을 입력하세요.");
                f.userPassword2.focus();
                return;
            }
            if (f.userPassword.value !== f.userPassword2.value) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                f.userPassword.focus();
                return;
            }
            if (f.userEmail.value === "") {
                alert("이메일 입력하세요.");
                f.userEmail.focus();
                return;
            }
            if (f.userName.value === "") {
                alert("이름을 입력하세요.");
                f.userName.focus();
                return;
            }
            if (f.userNickName.value === "") {
                alert("닉네임을 입력하세요.");
                f.userNickName.focus();
                return;
            }
            if (f.userAge.value === "") {
                alert("나이를 입력하세요.");
                f.userAge.focus();
                return;
            }
            if (f.userGender.value === "") {
                alert("성별을 선택하세요.");
                f.userGender.focus();
                return;
            }
            // if (f.userInterest.value === "") {
            //     alert("관심사를 선택하세요.");
            //     f.userInterest.focus();
            //     return;
            // }

            // // 관심사 체크박스의 값을 배열로 저장하기
            // const interests = [];
            // $("input[name='userInterest']:checked").each(function() {
            //     interests.push($(this).val());
            // });
            //
            // // 폼 데이터에 관심사 배열 추가
            // f.append('userInterest', interests);

            // Ajax 호출해서 회원가입하기
            $.ajax({
                url : "/user/insertUserInfo",
                type : "post", // 전송방식은 Post
                dataType : "JSON",
                data : $("#f").serialize(),
                success : function (json) {
                    if (json.result === 1) {
                        alert(json.msg);
                        location.href = "/user/login";
                    } else {
                        alert(json.msg);
                    }
                }
            })
        }
    </script>
</head>
<body>
<h2>회원가입하기</h2>
<hr/>
<br/>
<form id="f">
    <div class="divTable minimalistBlack">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">* 아이디</div>
                <div class="divTableCell">
                    <input type="text" name="userId" style="width: 80%" placeholder="아이디"/>
                    <button id="btnUserId" type="button">아이디 중복체크</button>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 비밀번호</div>
                <div class="divTableCell">
                    <input type="password" name="userPassword" style="width: 95%" placeholder="비밀번호"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 비밀번호확인</div>
                <div class="divTableCell">
                    <input type="password" name="userPassword2" style="width: 95%" placeholder="비밀번호 확인"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 이메일
                </div>
                <div class="divTableCell">
                    <input type="email" name="userEmail" style="width:40%" placeholder="이메일주소"/>
                    <input type="text" name="authNumber" style="width:30%" placeholder="메일로 발송된 인증번호"/>
                    <button id="btnEmail" type="button">이메일 중복체크</button>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 이름</div>
                <div class="divTableCell">
                    <input type="text" name="userName" style="width: 95%" placeholder="이름"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 닉네임</div>
                <div class="divTableCell">
                    <input type="text" name="userNickName" style="width: 95%" placeholder="닉네임"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 연령</div>
                <div class="divTableCell">
                    <input type="date" name="userAge" style="width: 95%" placeholder="연령"/>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 성별</div>
                <div class="divTableCell">
                    <laㅣbel><input type="radio" name="userGender"  placeholder="남자" th:value="1"/>남자</laㅣbel>
                    <label><input type="radio" name="userGender"  placeholder="여자" th:value="2"/>여자</label>
                </div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">* 관심사</div>
                <div class="divTableCell">
                    <label><input type="checkbox" name="userInterest" value="book"/>책</label>
                    <label><input type="checkbox" name="userInterest" value="movie"/>영화</label>
                    <label><input type="checkbox" name="userInterest" value="drama"/>드라마</label>
                    <label><input type="checkbox" name="userInterest" value="song"/>노래</label>
                </div>
            </div>
            <!--            <div class="divTableRow">-->
            <!--                <div class="divTableCell">* 주소</div>-->
            <!--                <div class="divTableCell">-->
            <!--                    <input type="text" name="addr1" style="width: 85%" placeholder="주소"/>-->
            <!--                    <button id="btnAddr" type="button">우편번호</button>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="divTableRow">-->
            <!--                <div class="divTableCell">* 상세주소</div>-->
            <!--                <div class="divTableCell">-->
            <!--                    <input type="text" name="addr2" style="width: 95%" placeholder="상세주소"/>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>
    <div>
        <button id="btnSend" type="button">회원가입</button>
    </div>
</form>
</body>
</html>